<div class="footer">
    <div class="container">
        <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/fb.png?raw=true" alt="fb"></a>
        <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/instagram.png?raw=true" alt="ig"></a>
        <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/line.png?raw=true" alt="line"></a>
    </div>
</div>