@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Castoro", serif;
  line-height: 1.5;
  font-size: 24px;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

h1 {
  font-size: 128px;
  letter-spacing: 0.12em;
}

.portrait {
  display: block;
  margin: 0 auto;
}

h2 {
  font-size: 128px;
  text-align: right;
}