<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <!-- aboutMe -->
    <div class="aboutMe bg-gray py-48 mb-80">
      <div class="container">
        <p class="content">I'm Vito, a UI Designer with 5+ years of experience. I create visually appealing interfaces
          for web and mobile apps. Proficient in Sketch, Adobe XD, Figma, HTML, CSS, and JavaScript. I enjoy
          collaborating with others to create high-quality products.</p>
      </div>
    </div>

    <!-- experiences -->
    <div class="container">
      <div class="experiences">
        <!--     myInfo -->
        <h3>Vito Evans</h3>
        <ul class="mb-40">
          <li class="mb-8">456 Walnut Avenue, Someville, USA</li>
          <li class="mb-8">+1 123 456 7890</li>
          <li class="mb-8"><a href="#">info@hexschool.com</a></li>
          <li><a href="#">www.infohexschool.com</a></li>
        </ul>
        <!--     Education -->
        <h3>Education</h3>
        <ul class="mb-40">
          <li class="mb-16">
            <p class="italic text-gray">2014-2018</p>
            <p>Bachelor of Science in Business Administration, University of California, Los Angeles</p>
          </li>
          <li class="mb-16">
            <p class="italic text-gray">2012-2014</p>
            <p>Associate of Arts in Graphic Design, San Francisco State University</p>
          </li>
          <li>
            <p class="italic text-gray fs-20">2008-2012</p>
            <p>High School Diploma, Lincoln High School</p>
          </li>
        </ul>
        <!--     Work -->
        <h3>Work</h3>
        <ul class="mb-40">
          <li class="mb-16">
            <p class="italic text-gray fs-20">2018-2021</p>
            <p>Marketing Manager, ABC Company</p>
          </li>
          <li class="mb-16">
            <p class="italic text-gray fs-20">2016-2018</p>
            <p>Sales Associate, XYZ Corporation</p>
          </li>
          <li>
            <p class="italic text-gray fs-20">2014-2016</p>
            <p>Customer Service Representative, QRS Inc.</p>
          </li>
        </ul>
        <!--     Awards -->
        <h3>Awards</h3>
        <ul>
          <li class="mb-12">Best in Show Award, National Advertising Awards, 2020</li>
          <li class="mb-12">Honorable Mention, International Design Competition, 2019</li>
          <li>People's Choice Award, Local Art Exhibition, 2018</li>
        </ul>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>